:root {
  --bg-color: #fbf8f3;
  --txt-color: black;
  --boxContainer-color: #fffdf8;
  --border-color: #d3d1cc;  
  --select-color: black;
  --accent-bg: #102520;
  --link-txt-color: darkgreen;
}


button {
  text-align: center;
  color: var(--select-color);  
  margin-top: 5px;
  margin-bottom: 5px;
}

.right-align{
  display: inline-flex;
  position: absolute;
  right: 5%;
  margin-bottom: 10px;

}

#generate{
/*  
  background-color: ;
*/
}

input {
  color: var(--select-color);  

}

h1{
  font-size: 2em;
  font-weight: bold;
}

h2{
  font-size: 1.6em;
  font-weight: bold;
}

h3{
  font-size: 1.2em;
  margin-top: 10px;
  font-weight: bold;
}

a{
  color: var(--link-txt-color);
}

.tab {
  margin-left: 50px;
}

.center{
  text-align: center;
}

body{
  margin: 2em;
  padding: 1em;
  background-color: var(--bg-color)!imporant;
  color: var(--txt-color);
}

border, .border-thin {
  border-color: rgba(var(--v-border-color),var(--v-border-opacity)) !important;
  border-style: solid !important;
  border-width: thin !important;
}

footer{
  text-align: right;
}

select{
  color: var(--select-color);
}

label{
  font-weight: normal;
  margin-left: 2px;  
  align-items: center;
}

/* IDS BEGIN */

.box {
    border-color: black;
    border: 1px solid black;

    height: 16px; 
    width: 28px; 
    border-radius: 4px;
    margin-left: 1em;    
}

.center {
  text-align: center;
}

.colorLineText{
  margin-left: 3em;
  margin-right: 1em;
}

.colorLine{
  padding: 4px !important;
  margin-top: 4px !important;
    height: 20px;

}

.lineData{
  display: inline-flex;
}

#colorSet{
  border-color: var(--border-color);
  border-style: solid !important;
  border-width: thin !important;
  padding: 2em;

  border-radius: 8px !important;
  background-color: var(--boxContainer-color);
  margin-top: 25px;
}


/* Symbols */
svg{
  color: #9e9e9e;
  width: 16px !important;
  height: 16px !important; 
  align-items: center;
  overflow: visible;  
  display: inline-flex;
  align-items: baseline;
  gap: 0.5rem;

  position: absolute;  
}

div{
  width:100%;

  /* broke chrome???*/
}

.checkboxes label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}

.checkboxes div{
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}

.colorSymbolLight{  
  opacity: 1;
  d: path(
    "M2.4 8C2.4 7.78783 2.31571 7.58434 2.16569 7.43431C2.01566 7.28429 1.81217 7.2 1.6 7.2H0.8C0.587827 7.2 0.384344 7.28429 0.234315 7.43431C0.0842854 7.58434 0 7.78783 0 8C0 8.21217 0.0842854 8.41566 0.234315 8.56569C0.384344 8.71571 0.587827 8.8 0.8 8.8H1.6C1.81217 8.8 2.01566 8.71571 2.16569 8.56569C2.31571 8.41566 2.4 8.21217 2.4 8ZM2.912 12L2.344 12.568C2.195 12.7179 2.11137 12.9207 2.11137 13.132C2.11137 13.3433 2.195 13.5461 2.344 13.696C2.49389 13.845 2.69665 13.9286 2.908 13.9286C3.11935 13.9286 3.32211 13.845 3.472 13.696L4.04 13.128C4.17106 12.975 4.23955 12.7781 4.23177 12.5768C4.22399 12.3754 4.14053 12.1844 3.99805 12.0419C3.85558 11.8995 3.66458 11.816 3.46324 11.8082C3.2619 11.8005 3.06504 11.8689 2.912 12ZM8 2.4C8.21217 2.4 8.41566 2.31571 8.56569 2.16569C8.71571 2.01566 8.8 1.81217 8.8 1.6V0.8C8.8 0.587827 8.71571 0.384344 8.56569 0.234315C8.41566 0.0842854 8.21217 0 8 0C7.78783 0 7.58434 0.0842854 7.43431 0.234315C7.28429 0.384344 7.2 0.587827 7.2 0.8V1.6C7.2 1.81217 7.28429 2.01566 7.43431 2.16569C7.58434 2.31571 7.78783 2.4 8 2.4ZM12.528 4.272C12.7379 4.27112 12.939 4.1878 13.088 4.04L13.656 3.472C13.7397 3.40028 13.8078 3.31203 13.8558 3.21278C13.9038 3.11352 13.9308 3.00542 13.935 2.89524C13.9393 2.78507 13.9207 2.6752 13.8805 2.57254C13.8403 2.46988 13.7793 2.37664 13.7013 2.29868C13.6234 2.22072 13.5301 2.15971 13.4275 2.11949C13.3248 2.07927 13.2149 2.06071 13.1048 2.06496C12.9946 2.06922 12.8865 2.0962 12.7872 2.14422C12.688 2.19224 12.5997 2.26025 12.528 2.344L12 2.912C11.851 3.06189 11.7674 3.26465 11.7674 3.476C11.7674 3.68735 11.851 3.89011 12 4.04C12.141 4.18029 12.3293 4.263 12.528 4.272ZM2.928 4.04C3.07701 4.1878 3.27813 4.27112 3.488 4.272C3.59329 4.27261 3.69766 4.25243 3.79513 4.21262C3.8926 4.17281 3.98125 4.11415 4.056 4.04C4.205 3.89011 4.28863 3.68735 4.28863 3.476C4.28863 3.26465 4.205 3.06189 4.056 2.912L3.488 2.344C3.33842 2.1923 3.1347 2.10623 2.92166 2.10473C2.70862 2.10323 2.5037 2.18642 2.352 2.336C2.2003 2.48558 2.11423 2.6893 2.11273 2.90234C2.11123 3.11538 2.19442 3.3203 2.344 3.472L2.928 4.04ZM15.2 7.2H14.4C14.1878 7.2 13.9843 7.28429 13.8343 7.43431C13.6843 7.58434 13.6 7.78783 13.6 8C13.6 8.21217 13.6843 8.41566 13.8343 8.56569C13.9843 8.71571 14.1878 8.8 14.4 8.8H15.2C15.4122 8.8 15.6157 8.71571 15.7657 8.56569C15.9157 8.41566 16 8.21217 16 8C16 7.78783 15.9157 7.58434 15.7657 7.43431C15.6157 7.28429 15.4122 7.2 15.2 7.2ZM13.088 12C12.936 11.9155 12.7606 11.8828 12.5884 11.9068C12.4161 11.9309 12.2564 12.0105 12.1334 12.1334C12.0105 12.2564 11.9309 12.4161 11.9068 12.5884C11.8828 12.7606 11.9155 12.936 12 13.088L12.568 13.656C12.7179 13.805 12.9207 13.8886 13.132 13.8886C13.3433 13.8886 13.5461 13.805 13.696 13.656C13.845 13.5061 13.9286 13.3033 13.9286 13.092C13.9286 12.8807 13.845 12.6779 13.696 12.528L13.088 12ZM8 3.6C7.12976 3.6 6.27907 3.85806 5.55549 4.34153C4.83191 4.82501 4.26796 5.5122 3.93493 6.31619C3.6019 7.12019 3.51477 8.00488 3.68454 8.8584C3.85432 9.71191 4.27338 10.4959 4.88873 11.1113C5.50408 11.7266 6.28809 12.1457 7.1416 12.3155C7.99512 12.4852 8.87981 12.3981 9.68381 12.0651C10.4878 11.732 11.175 11.1681 11.6585 10.4445C12.1419 9.72093 12.4 8.87024 12.4 8C12.3979 6.8337 11.9336 5.71577 11.1089 4.89107C10.2842 4.06636 9.1663 3.60211 8 3.6ZM8 10.8C7.44621 10.8 6.90486 10.6358 6.4444 10.3281C5.98395 10.0204 5.62506 9.58315 5.41314 9.07151C5.20121 8.55988 5.14576 7.99689 5.2538 7.45375C5.36184 6.9106 5.62851 6.41169 6.0201 6.0201C6.41169 5.62851 6.9106 5.36184 7.45375 5.2538C7.99689 5.14576 8.55988 5.20121 9.07151 5.41314C9.58315 5.62506 10.0204 5.98395 10.3281 6.4444C10.6358 6.90486 10.8 7.44621 10.8 8C10.8 8.74261 10.505 9.4548 9.9799 9.9799C9.4548 10.505 8.74261 10.8 8 10.8ZM8 13.6C7.78783 13.6 7.58434 13.6843 7.43431 13.8343C7.28429 13.9843 7.2 14.1878 7.2 14.4V15.2C7.2 15.4122 7.28429 15.6157 7.43431 15.7657C7.58434 15.9157 7.78783 16 8 16C8.21217 16 8.41566 15.9157 8.56569 15.7657C8.71571 15.6157 8.8 15.4122 8.8 15.2V14.4C8.8 14.1878 8.71571 13.9843 8.56569 13.8343C8.41566 13.6843 8.21217 13.6 8 13.6Z"
  );
  fill: currentColor;
}

.colorSymbolMedium{  
  opacity: 1;
  d: path(
    "M 8.00044 13.6008 C 8.1964 13.6008 8.38554 13.6727 8.53197 13.8029 C 8.67841 13.9332 8.77196 14.1126 8.79489 14.3072 L 8.80049 14.4008 V 15.2008 C 8.80026 15.4048 8.72218 15.6009 8.5822 15.7492 C 8.44221 15.8974 8.25089 15.9867 8.04733 15.9986 C 7.84377 16.0106 7.64332 15.9443 7.48695 15.8135 C 7.33058 15.6826 7.23008 15.4969 7.206 15.2944 L 7.2004 15.2008 V 14.4008 C 7.2004 14.1886 7.28469 13.9851 7.43473 13.8351 C 7.58476 13.685 7.78826 13.6008 8.00044 13.6008 Z M 11.9607 11.9607 C 12.0984 11.8229 12.2817 11.7402 12.4761 11.7279 C 12.6706 11.7157 12.8628 11.7749 13.0167 11.8943 L 13.0919 11.9607 L 13.6576 12.5263 C 13.801 12.6703 13.8843 12.8635 13.8906 13.0666 C 13.8968 13.2698 13.8254 13.4677 13.691 13.6202 C 13.5565 13.7726 13.3691 13.8682 13.1667 13.8875 C 12.9644 13.9068 12.7623 13.8483 12.6015 13.724 L 12.5263 13.6576 L 11.9607 13.0919 C 11.8107 12.9419 11.7264 12.7384 11.7264 12.5263 C 11.7264 12.3142 11.8107 12.1107 11.9607 11.9607 Z M 4.04022 11.9607 C 4.19021 12.1107 4.27447 12.3142 4.27447 12.5263 C 4.27447 12.7384 4.19021 12.9419 4.04022 13.0919 L 3.47459 13.6576 C 3.3237 13.8033 3.12161 13.8839 2.91184 13.8821 C 2.70207 13.8803 2.50141 13.7961 2.35308 13.6478 C 2.20474 13.4995 2.1206 13.2988 2.11878 13.089 C 2.11696 12.8793 2.1976 12.6772 2.34333 12.5263 L 2.90896 11.9607 C 3.05899 11.8107 3.26245 11.7264 3.47459 11.7264 C 3.68674 11.7264 3.89019 11.8107 4.04022 11.9607 Z M 8.00044 3.20018 C 9.27355 3.20018 10.4945 3.70592 11.3947 4.60614 C 12.295 5.50637 12.8007 6.72733 12.8007 8.00044 C 12.8007 9.27355 12.295 10.4945 11.3947 11.3947 C 10.4945 12.295 9.27355 12.8007 8.00044 12.8007 C 6.72733 12.8007 5.50637 12.295 4.60614 11.3947 C 3.70592 10.4945 3.20018 9.27355 3.20018 8.00044 C 3.20018 6.72733 3.70592 5.50637 4.60614 4.60614 C 5.50637 3.70592 6.72733 3.20018 8.00044 3.20018 Z M 8.00044 4.80027 C 7.1517 4.80027 6.33773 5.13743 5.73758 5.73758 C 5.13743 6.33773 4.80027 7.1517 4.80027 8.00044 C 4.80027 8.84918 5.13743 9.66316 5.73758 10.2633 C 6.33773 10.8635 7.1517 11.2006 8.00044 11.2006 V 4.80027 Z M 1.60009 7.2004 C 1.81227 7.2004 2.01577 7.28469 2.16581 7.43473 C 2.31584 7.58476 2.40013 7.78826 2.40013 8.00044 C 2.40013 8.21263 2.31584 8.41612 2.16581 8.56616 C 2.01577 8.7162 1.81227 8.80049 1.60009 8.80049 H 0.800044 C 0.587859 8.80049 0.384365 8.7162 0.234328 8.56616 C 0.0842901 8.41612 0 8.21263 0 8.00044 C 0 7.78826 0.0842901 7.58476 0.234328 7.43473 C 0.384365 7.28469 0.587859 7.2004 0.800044 7.2004 H 1.60009 Z M 15.2008 7.2004 C 15.4048 7.20063 15.6009 7.27871 15.7492 7.41869 C 15.8974 7.55867 15.9867 7.74999 15.9986 7.95356 C 16.0106 8.15712 15.9443 8.35757 15.8135 8.51394 C 15.6826 8.67031 15.4969 8.7708 15.2944 8.79489 L 15.2008 8.80049 H 14.4008 C 14.1969 8.80026 14.0008 8.72218 13.8525 8.5822 C 13.7042 8.44221 13.615 8.25089 13.603 8.04733 C 13.5911 7.84377 13.6573 7.64332 13.7882 7.48695 C 13.9191 7.33058 14.1047 7.23008 14.3072 7.206 L 14.4008 7.2004 H 15.2008 Z M 3.47459 2.34333 L 4.04022 2.90896 C 4.18596 3.05985 4.2666 3.26194 4.26478 3.47171 C 4.26295 3.68148 4.17881 3.88214 4.03048 4.03048 C 3.88214 4.17881 3.68148 4.26295 3.47171 4.26478 C 3.26194 4.2666 3.05985 4.18596 2.90896 4.04022 L 2.34333 3.47459 C 2.26518 3.40121 2.20258 3.31287 2.15924 3.21481 C 2.11591 3.11676 2.09272 3.011 2.09105 2.90381 C 2.08939 2.79662 2.10928 2.69019 2.14955 2.59084 C 2.18983 2.49149 2.24965 2.40125 2.32548 2.32547 C 2.40131 2.24969 2.4916 2.18993 2.59098 2.14973 C 2.69036 2.10953 2.7968 2.08971 2.90399 2.09145 C 3.01118 2.09319 3.11692 2.11645 3.21494 2.15986 C 3.31296 2.20327 3.40126 2.26513 3.47459 2.34333 Z M 12.5263 2.34333 C 12.6703 2.19984 12.8635 2.11654 13.0666 2.11033 C 13.2698 2.10413 13.4677 2.17549 13.6202 2.30993 C 13.7726 2.44436 13.8682 2.63179 13.8875 2.83414 C 13.9068 3.03649 13.8483 3.23859 13.724 3.39939 L 13.6576 3.47459 L 13.0919 4.04022 C 12.948 4.18371 12.7548 4.26702 12.5516 4.27322 C 12.3484 4.27942 12.1505 4.20806 11.998 4.07363 C 11.8456 3.93919 11.75 3.75177 11.7307 3.54942 C 11.7115 3.34707 11.7699 3.14497 11.8943 2.98417 L 11.9607 2.90896 L 12.5263 2.34333 Z M 8.00044 0 C 8.1964 0.0000258499 8.38554 0.0719689 8.53197 0.202183 C 8.67841 0.332398 8.77196 0.511827 8.79489 0.706439 L 8.80049 0.800044 V 1.60009 C 8.80026 1.804 8.72218 2.00014 8.5822 2.14841 C 8.44221 2.29669 8.25089 2.38592 8.04733 2.39787 C 7.84377 2.40982 7.64332 2.34359 7.48695 2.21271 C 7.33058 2.08183 7.23008 1.89618 7.206 1.69369 L 7.2004 1.60009 V 0.800044 C 7.2004 0.587859 7.28469 0.384365 7.43473 0.234328 C 7.58476 0.0842901 7.78826 0 8.00044 0 Z"
  );
  fill: currentColor;
}

.colorSymbolDark{  
  opacity: 1;
  d: path(
    "M 8.00044 13.6008 C 8.1964 13.6008 8.38554 13.6727 8.53197 13.8029 C 8.67841 13.9332 8.77196 14.1126 8.79489 14.3072 L 8.80049 14.4008 V 15.2008 C 8.80026 15.4048 8.72218 15.6009 8.5822 15.7492 C 8.44221 15.8974 8.25089 15.9867 8.04733 15.9986 C 7.84377 16.0106 7.64332 15.9443 7.48695 15.8135 C 7.33058 15.6826 7.23008 15.4969 7.206 15.2944 L 7.2004 15.2008 V 14.4008 C 7.2004 14.1886 7.28469 13.9851 7.43473 13.8351 C 7.58476 13.685 7.78826 13.6008 8.00044 13.6008 Z M 11.9607 11.9607 C 12.0984 11.8229 12.2817 11.7402 12.4761 11.7279 C 12.6706 11.7157 12.8628 11.7749 13.0167 11.8943 L 13.0919 11.9607 L 13.6576 12.5263 C 13.801 12.6703 13.8843 12.8635 13.8906 13.0666 C 13.8968 13.2698 13.8254 13.4677 13.691 13.6202 C 13.5565 13.7726 13.3691 13.8682 13.1667 13.8875 C 12.9644 13.9068 12.7623 13.8483 12.6015 13.724 L 12.5263 13.6576 L 11.9607 13.0919 C 11.8107 12.9419 11.7264 12.7384 11.7264 12.5263 C 11.7264 12.3142 11.8107 12.1107 11.9607 11.9607 Z M 4.04022 11.9607 C 4.19021 12.1107 4.27447 12.3142 4.27447 12.5263 C 4.27447 12.7384 4.19021 12.9419 4.04022 13.0919 L 3.47459 13.6576 C 3.3237 13.8033 3.12161 13.8839 2.91184 13.8821 C 2.70207 13.8803 2.50141 13.7961 2.35308 13.6478 C 2.20474 13.4995 2.1206 13.2988 2.11878 13.089 C 2.11696 12.8793 2.1976 12.6772 2.34333 12.5263 L 2.90896 11.9607 C 3.05899 11.8107 3.26245 11.7264 3.47459 11.7264 C 3.68674 11.7264 3.89019 11.8107 4.04022 11.9607 Z M 8.00044 3.20018 C 9.27355 3.20018 10.4945 3.70592 11.3947 4.60614 C 12.295 5.50637 12.8007 6.72733 12.8007 8.00044 C 12.8007 9.27355 12.295 10.4945 11.3947 11.3947 C 10.4945 12.295 9.27355 12.8007 8.00044 12.8007 C 6.72733 12.8007 5.50637 12.295 4.60614 11.3947 C 3.70592 10.4945 3.20018 9.27355 3.20018 8.00044 C 3.20018 6.72733 3.70592 5.50637 4.60614 4.60614 C 5.50637 3.70592 6.72733 3.20018 8.00044 3.20018 Z M 8.00044 4.80027 C 7.1517 4.80027 6.33773 5.13743 5.73758 5.73758 C 5.13743 6.33773 4.80027 7.1517 4.80027 8.00044 C 4.80027 8.84918 5.13743 9.66316 5.73758 10.2633 C 6.33773 10.8635 7.1517 11.2006 8.00044 11.2006 V 4.80027 Z M 1.60009 7.2004 C 1.81227 7.2004 2.01577 7.28469 2.16581 7.43473 C 2.31584 7.58476 2.40013 7.78826 2.40013 8.00044 C 2.40013 8.21263 2.31584 8.41612 2.16581 8.56616 C 2.01577 8.7162 1.81227 8.80049 1.60009 8.80049 H 0.800044 C 0.587859 8.80049 0.384365 8.7162 0.234328 8.56616 C 0.0842901 8.41612 0 8.21263 0 8.00044 C 0 7.78826 0.0842901 7.58476 0.234328 7.43473 C 0.384365 7.28469 0.587859 7.2004 0.800044 7.2004 H 1.60009 Z M 15.2008 7.2004 C 15.4048 7.20063 15.6009 7.27871 15.7492 7.41869 C 15.8974 7.55867 15.9867 7.74999 15.9986 7.95356 C 16.0106 8.15712 15.9443 8.35757 15.8135 8.51394 C 15.6826 8.67031 15.4969 8.7708 15.2944 8.79489 L 15.2008 8.80049 H 14.4008 C 14.1969 8.80026 14.0008 8.72218 13.8525 8.5822 C 13.7042 8.44221 13.615 8.25089 13.603 8.04733 C 13.5911 7.84377 13.6573 7.64332 13.7882 7.48695 C 13.9191 7.33058 14.1047 7.23008 14.3072 7.206 L 14.4008 7.2004 H 15.2008 Z M 3.47459 2.34333 L 4.04022 2.90896 C 4.18596 3.05985 4.2666 3.26194 4.26478 3.47171 C 4.26295 3.68148 4.17881 3.88214 4.03048 4.03048 C 3.88214 4.17881 3.68148 4.26295 3.47171 4.26478 C 3.26194 4.2666 3.05985 4.18596 2.90896 4.04022 L 2.34333 3.47459 C 2.26518 3.40121 2.20258 3.31287 2.15924 3.21481 C 2.11591 3.11676 2.09272 3.011 2.09105 2.90381 C 2.08939 2.79662 2.10928 2.69019 2.14955 2.59084 C 2.18983 2.49149 2.24965 2.40125 2.32548 2.32547 C 2.40131 2.24969 2.4916 2.18993 2.59098 2.14973 C 2.69036 2.10953 2.7968 2.08971 2.90399 2.09145 C 3.01118 2.09319 3.11692 2.11645 3.21494 2.15986 C 3.31296 2.20327 3.40126 2.26513 3.47459 2.34333 Z M 12.5263 2.34333 C 12.6703 2.19984 12.8635 2.11654 13.0666 2.11033 C 13.2698 2.10413 13.4677 2.17549 13.6202 2.30993 C 13.7726 2.44436 13.8682 2.63179 13.8875 2.83414 C 13.9068 3.03649 13.8483 3.23859 13.724 3.39939 L 13.6576 3.47459 L 13.0919 4.04022 C 12.948 4.18371 12.7548 4.26702 12.5516 4.27322 C 12.3484 4.27942 12.1505 4.20806 11.998 4.07363 C 11.8456 3.93919 11.75 3.75177 11.7307 3.54942 C 11.7115 3.34707 11.7699 3.14497 11.8943 2.98417 L 11.9607 2.90896 L 12.5263 2.34333 Z M 8.00044 0 C 8.1964 0.0000258499 8.38554 0.0719689 8.53197 0.202183 C 8.67841 0.332398 8.77196 0.511827 8.79489 0.706439 L 8.80049 0.800044 V 1.60009 C 8.80026 1.804 8.72218 2.00014 8.5822 2.14841 C 8.44221 2.29669 8.25089 2.38592 8.04733 2.39787 C 7.84377 2.40982 7.64332 2.34359 7.48695 2.21271 C 7.33058 2.08183 7.23008 1.89618 7.206 1.69369 L 7.2004 1.60009 V 0.800044 C 7.2004 0.587859 7.28469 0.384365 7.43473 0.234328 C 7.58476 0.0842901 7.78826 0 8.00044 0 Z");
  fill: currentColor;
}

.Ellipse{
  cx:
  cx: 8.00043px
  cy: 8.00022px
  r: 4.00022px
  fill:"currentColor";
}


.colorSymbolSaturated{  
  opacity: 1;
  d: path(
    "M 7.99922 14.4016 C 6.72618 14.4016 5.50528 13.9185 4.60511 13.0586 C 3.70493 12.1988 3.19922 11.0325 3.19922 9.81649 C 3.19922 6.75977 7.99922 1.60156 7.99922 1.60156 C 7.99922 1.60156 12.7992 6.75977 12.7992 9.81649 C 12.7992 11.0325 12.2935 12.1988 11.3933 13.0586 C 10.4932 13.9185 9.27226 14.4016 7.99922 14.4016 Z"
    );
  fill: currentColor;
}


/*
Source - https://stackoverflow.com/a/30712432
Posted by web-tiki, modified by community. See post 'Timeline' for change history
Retrieved 2026-08-12, License - CC BY-SA 3.0
*/
.colorSymbolDesaturated{  
  opacity: 1;
  d: path(
    "M15 3 Q16.5 6.8 25 18 A12.8 12.8 0 1 1 5 18 Q13.5 6.8 15 3z");
  fill: transparent;
  stroke: currentColor; 
  stroke-width: 4px ;
}

#colorSymbolSaturatedBasis{  
/*
  right: 130px;
*/
}

.saturatedFix{
  right: 20%;
}

.lightFix{
  right: 30%;
}


.cooperativeSVG{
}


.key{

  border-color: var(--border-color);
  border-style: solid !important;
  border-width: thin !important;
  padding: 2em;

  border-radius: 8px !important;

  max-height: 300px;
  overflow: hidden;
}

input[type="checkbox"] {
  transform: scale(1.3);
  margin: 10px;
}

.colorPalette{
    height: 16px; 
    width: 14px; 
    border-radius: 4px;
    margin-left: 1em;   
    right: 10%; 
    position: absolute;
}

.nav-pills li.active a{
  background-color: var(--accent-bg) !important;
}

#forumButton{
  margin-bottom: 10px;
}

#satSortVis{
  display: none;
}

#lumiSortVis{
  display: none;
}

#greyscaleBanner{
  background-color: rgb(39, 39, 39) !important;
  display: inline-block;
  opacity: 75%;
  color: white;
  width: 75px;
  height: 21px;
  padding-left:5px;
}
#brownBanner{
  background-color: rgb(97, 68, 51) !important;
  display: inline-block;
  opacity: 75%;
  color: white;  
  width: 75px;
  height: 21px;
  padding-left:5px;
}
#redBanner{
  background-color: rgb(214, 61, 47) !important;
  display: inline-block;
  opacity: 75%;
  color: white;  
  width: 75px;
  height: 21px;
  padding-left:5px;
}
#orangeBanner{
  background-color: rgb(255, 109, 1) !important;
  display: inline-block;
  opacity: 75%;
  color: white;  
  width: 75px;
  height: 21px;
  padding-left:5px;
}
#yellowBanner{
  background-color: rgb(251, 188, 4) !important;
  display: inline-block;
  opacity: 75%;
  color: white;  
  width: 75px;
  height: 21px;
  padding-left:5px;
}
#greenBanner{
  background-color: rgb(40, 130, 63) !important;
  display: inline-block;
  opacity: 75%;
  color: white;  
  width: 75px;
  height: 21px;
  padding-left:5px;
}
#tealBanner{
  background-color: rgb(70, 189, 198) !important;
  display: inline-block;
  opacity: 75%;
  color: white;  
  width: 75px;
  height: 21px;
  padding-left:5px;
}
#blueBanner{
  background-color: rgb(66, 133, 244) !important;
  display: inline-block;
  opacity: 75%;
  color: white;  
  width: 75px;
  height: 21px;
  padding-left:5px;
}
#purpleBanner{
  background-color: rgb(127, 93, 216) !important;
  display: inline-block;
  opacity: 75%;
  color: white;  
  width: 75px;
  height: 21px;
  padding-left:5px;
}
#pinkBanner{
  background-color: rgb(193, 56, 114) !important;
  display: inline-block;
  opacity: 75%;
  color: white;  
  width: 75px;
  height: 21px;
  padding-left:5px;
}

.greyscaleSymbol{
  background-color: rgb(39, 39, 39) !important;
  height: 16px; 
  width: 16px;
  display: inline-block;
  opacity: 75%;
}
.brownSymbol{
  background-color: rgb(97, 68, 51) !important;
  height: 16px; 
  width: 16px;
  display: inline-block;
  opacity: 75%;
}
.redSymbol{
  background-color: rgb(214, 61, 47) !important;
  height: 16px; 
  width: 16px;
  display: inline-block;
  opacity: 75%;
}
.orangeSymbol{
  background-color: rgb(255, 109, 1) !important;
  height: 16px; 
  width: 16px;
  display: inline-block;
  opacity: 75%;
}
.yellowSymbol{
  background-color: rgb(251, 188, 4) !important;
  height: 16px; 
  width: 16px;
  display: inline-block;
  opacity: 75%;
}
.greenSymbol{
  background-color: rgb(40, 130, 63) !important;
  height: 16px; 
  width: 16px;
  display: inline-block;
  opacity: 75%;
}
.tealSymbol{
  background-color: rgb(70, 189, 198) !important;
  height: 16px; 
  width: 16px;
  display: inline-block;
  opacity: 75%;
}
.blueSymbol{
  background-color: rgb(66, 133, 244) !important;
  height: 16px; 
  width: 16px;
  display: inline-block;
  opacity: 75%;
}
.purpleSymbol{
  background-color: rgb(127, 93, 216) !important;
  height: 16px; 
  width: 16px;
  display: inline-block;
  opacity: 75%;
}
.pinkSymbol{
  background-color: rgb(193, 56, 114) !important;
  height: 16px; 
  width: 16px;
  display: inline-block;
  opacity: 75%;
}
/* DarkMode 

.darkmodeBase{
  background-color: rgb(70,93,89);
  color: rgb(218,221,233);
}

.darkmodeBox{
  background-color: rgb(32,39,57);
}

/*
color-scheme: normal;
  --v-theme-background: 70,93,89;
  --v-theme-surface: 255,255,255;
  --v-theme-baseContainer: 32,39,57;
  --v-theme-bodyText: 218,221,233;
  --v-theme-on-background: 255,255,255;
  --v-theme-on-surface: 0,0,0;
  --v-theme-on-baseContainer: 255,255,255;
  --v-high-emphasis-opacity: 0.87;
*/
